<div class="article-container">
	<div>
		<%= link_to 'Edit', edit_article_path(@article) %> |
		<%= link_to 'Back', articles_path %>
	<div>

	<p class="article-title">
		<%= @article.title %>
	</p>

	<p class="timestamp">
		<%= @article.created_at %>
	</p>

	<p class="article-text">
		<%= sanitize(@text) %><br>
	</p>

	<hr>

	<div id="comment-heading">COMMENTS</div>
	<%= render @article.comments %>
	<hr>
	<br>
	<div id="comment-heading">WRITE YOUR COMMENT:</div>
	<%= render 'comments/form' %>
</div>
