<div class="col-sm-3">
	<%= render 'menu' %>
</div>
<div class="col-sm-6 col-sm-offset-1">
	<div class="content">
		<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>

			<%= devise_error_messages! %>
			<div class="field">
				<%= f.label :username %><br />
				<%= f.text_field :username, class: "text-area" %>
			</div>

			<div class="field">
				<%= f.label :email %><br />
				<%= f.email_field :email, autofocus: true, class: "text-area" %>
			</div>

			<% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
			<div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
			<% end %>

			<div class="field">
				<%= f.label :current_password %> <i>(required)</i><br />
				<%= f.password_field :current_password, autocomplete: "off", class: "text-area" %>
			</div>

			<div class="field">
				<%= f.label :new_password %><br />
				<%= f.password_field :new_password, autocomplete: "off", class: "text-area" %>
			</div>

			<div class="field">
				<%= f.label :new_password_confirmation %><br />
				<%= f.password_field :new_password_confirmation, autocomplete: "off", class: "text-area" %>
			</div>

			<%= f.submit "Update", class: "update-button btn btn-default" %>

		<% end %>

		<div>
			<br>
			Unhappy? 
			<%= button_to "Cancel account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-danger cancel-button" %>
		</div>

	</div>
</div>

<%= link_to "Back", :back %>
