<h1><%= @user.username %>'s followings</h1>
<table>
	<tr>
		<th>username</th>
		<th>Brief</th>
		<th colspan="5"></th>
	</tr>

	<% @following.each do |followee| %>
		<tr>
			<td><%= followee.username %></td>
			<td><%= followee.brief %></td>
			<% if current_user != followee %>
				<% if current_user and current_user.following?(followee) %>
					<td><%= link_to "Unfollow", unfollow_user_path(followee), class: 'btn btn-primary', method: :post %></td>
				<% else %>
					<td><%= link_to "Follow", follow_user_path(followee), class: 'btn btn-primary', method: :post %></td>
				<% end %>
			<% end %>
		</tr>
	<% end %>
</table>
