<h1><%= @user.username %>'s followers</h1>
<table>
	<tr>
		<th>username</th>
		<th>Brief</th>
		<th colspan="5"></th>
	</tr>

	<% @followers.each do |follower| %>
		<tr>
			<td><%= follower.username %></td>
			<td><%= follower.brief %></td>
			<% if current_user != follower %>
				<% if current_user and current_user.following?(follower) %>
					<td><%= link_to "Unfollow", unfollow_user_path(follower), class: 'btn btn-primary', method: :post %></td>
				<% else %>
					<td><%= link_to "Follow", follow_user_path(follower), class: 'btn btn-primary', method: :post %></td>
				<% end %>
			<% end %>
		</tr>
	<% end %>
</table>
