<div class="col-sm-3">
	<%= render 'menu' %>
</div>
<div class="col-sm-8 col-sm-offset-1">
	<% if @user == current_user %>
		<% if current_user.bio.blank? %>
			<div>You don't have saved bio, introduce your self to the world :)</div>
		<% end %>
		<div>
			<%= form_for current_user do |f| %>
				<% if @user.errors.any? %>
					<div id="error_explanation">
						<h2>
							<%= pluralize(@user.errors.count, "error") %> prohibited from being saved:
						</h2>
						<ul>
							<% @user.errors.full_messages.each do |msg| %>
								<li><%= msg %></li>
							<% end %>
						</ul>
					</div>
				<% end %>
				<div>
					<%= f.text_area :bio, class: 'profile-textarea' %>
				</div>
				<div>
					<%= f.submit "Update Bio", class: 'btn btn-primary update-button' %>
				</div>
			<% end %>
		</div>
	<% end %>
</div>

<%= link_to "Back", :back %>
