<h1><%= @user.username %></h1>
<%= @user.brief %>
<% if policy(Article).new? and current_user == @user %>
	<%= link_to 'New article', new_article_path %>
<% else %>
	<% if current_user and current_user.following?(@user) %>
		<%= link_to "Unfollow", unfollow_user_path(@user), class: 'btn btn-primary', method: :post %>
	<% else %>
		<%= link_to "Follow", follow_user_path(@user), class: 'btn btn-primary', method: :post %>
	<% end %>
<% end %>
<table>
	<tr>
		<th>Title</th>
		<th>Text</th>
		<th>Author</th>
		<th colspan="3"></th>
	</tr>

	<% @articles.each do |article| %>
		<tr>
			<td><%= article.title %></td>
			<td><%= article.text %></td>
			<td><%= link_to 'Show', article_path(article) %></td>
			<% if policy(article).edit? %>
				<td><%= link_to 'Edit', edit_article_path(article) %></td>
			<% end %>
			<% if policy(article).destroy? %>
				<td><%= link_to 'Destroy', article_path(article),
				method: :delete,
				data: { confirm: 'Are you sure?' } %></td>
			<% end %>
		</tr>
	<% end %>
</table>
