<h2>Welcome to a fake weibo site!</h2>

<% @newFolowers.each do |activity| %>
	<div class="row follow" id=<%= activity.owner_id %> >
		<%= link_to activity.owner.username, user_path(activity.owner) %> is following you now
	</div>
<% end %>

<% @FolloweeArticles.each do |activity| %>
	<div class="row new_article">
		<%= link_to activity.owner.username, user_path(activity.owner)  %> created a new article
	</div>
<% end %>

<% @FolloweeComments.each do |activity| %>
	<div class="row new_comment" id=<%= activity.owner_id %> >
		<%= link_to activity.owner.username, user_path(activity.owner)  %> commented on <%= link_to activity.trackable.article.title, activity.trackable.article %>
	</div>
<% end %>
